body {
  background-color: #fff34f;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  
}

div.app {
  width: 1000px;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  
}

.venndiagram {
  background-image: url('images/background.svg');
  background-size:auto 100%;
  background-repeat:no-repeat;
  background-position: center;
  height: 330px;
  padding-bottom: 10%;
  column-count: 2;
  justify-content: space-evenly;
}

h1{
  text-align: center;
  color:#4200ff;
}

button {
  background-color: #ff6600;
    border: none;
    color:#4200ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
} 

.venndiagram img {
  width: 70%;
  height:70%;
  padding-top: 100px;
  background-position: center; 
}

.venndiagram img:first-child {
  padding-left: 160px;
}

.venndiagram img:nth-child(2) {
  padding-left: 00px;
}



h2 {
  opacity: 0.8;
  color: #598234;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.emoji-wrapper {
  display: flex;
  justify-content: space-between;
}

.emoji-wrapper .emoji {
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 25rem;
  border-radius: 0.4rem;
  background-color: #68829e;
}

.emoji-pic {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.4rem;
  background-color: #aebd38;
  width: 6rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

/* .emoji-wrapper .emoji-pic .emoji-img {
  width: 4rem;
  height: 4rem;
} */

.emoji .emoji-name-plate {
  display: flex;
  justify-content: space-between;
}

.emoji .emoji-name {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem;
  border-bottom: 1px #aebd38 solid;
}

.emoji .emoji-breed {
  font-style: italic;
  font-size: 1rem;
  margin: 0.5rem;
}

.footer {
  -webkit-column-count: 6; /* Chrome, Safari, Opera */
  column-count: 6;
}